.App {
  display: flex;
  flex-direction:column;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  height: 15vh;
}
.App-content {
  display: flex;
  flex-direction: row;
  font-size: large;
  flex-grow: 1;
}
.App-instructions {
  font-size: large;
  text-align: left;
}
.App-sign {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: large;
  border-right: solid;
  border-width: 1px;
}
.App-verify {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: large;
  border-left: solid;
  border-width: 1px;
}
dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: dashed;
  border-width: 3px;
  border-radius: 15px;
  margin: 5px;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
.audit-valid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: dashed;
  border-width: 3px;
  border-radius: 15px;
  margin: 5px;
  background-color: #00FF00; 
}
.audit-invalid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: dashed;
  border-width: 3px;
  border-radius: 15px;
  margin: 5px;
  background-color: #FF0000; 
}
.dropzone:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: dashed;
  border-width: 3px;
  border-radius: 15px;
  margin: 15px;
  background-color: #dadada; 
}
.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: dashed;
  border-width: 3px;
  border-radius: 15px;
  margin: 15px;
}
.audit-invalid-text {
  color: red;
  font-size: x-large;
}
.audit-valid-text {
  color: green;
  font-size: x-large;
}
